*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}
.container{
  position: absolute;
 left: 0;
 right: 0;
 top: 0;
 text-align: center;
 overflow: hidden;
 z-index: -1;
}
.billboard{
    background: url(../img/your_verse_hero_2x.jpg) 50% 100% no-repeat;
    position: relative;
    background-size: 1440px 1315px;
    right: 0;
    top: 0;
    text-align: center;
    overflow: hidden;
    width: 100%;
}
nav ul{
   display: flex;  
   justify-content: center;
}
nav ul li{
    list-style-type: none;
    margin-top: 100px;
    background:#41464B;
    padding: 10px;
    border: 1px solid #696969;
    overflow: hidden;
}
nav ul li a{
    text-decoration: none;
    margin-left: 20px;
    color: white;
}
.heading h1{
    margin: 60px auto 20px auto;
    text-align: center;
    font-weight: .5px;
    font-size: 30px;
}
.heading h1 a{
    text-decoration: none;
    color: black;
}
.heading h2{
    margin: 20px 20px;
    text-align: center;
    font-weight: 50;
    color: black;
}
.heading p{
    text-align: center;
    font-weight: 50;
    color: black;
}
.heading h2 a{
    text-decoration: none;
    color: black;
    
}
.promos{
    width: 100%;
}
.apple-img{
max-width: 100%;
}
.show-img{
    margin-top: 550px;
    display: flex;
}
.apple-img img{
    max-width: 100%;
    height:200px;
    overflow: hidden;
    
}
.information{
    display: flex;
    font-size: smaller;
}
footer{
   margin: 15px auto auto 120px;
}
.footer-link{
margin-left: 60px;
}
a img{
    border-radius: 50%;
}
.information a{
    text-decoration: none;
    text-transform: capitalize;
    color: #0A6CCE;
}
.copyright{
    font-size: smaller;
    margin-top: 15px;
}
.copyright a{
    text-decoration: none;
    text-transform: capitalize;
    color: #0A6CCE;
}
@media(max-width:746px){
    nav ul{
        justify-content: center;
       
    }
    nav ul li{
        padding: auto;
        margin-top: 50px;
     
    }
    .billboard{
        background-position: 50% 87%;
    }
    nav ul li a{
        margin-left: 5px;
    }
}